body {
  background-color: #ffffdd;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

.header-container {
  margin: 0 auto;
  text-align: center;
  background-color: #006a71;
}

.header-container h1 {
  font-size: 58px;
  padding-top: 42px;
  padding-bottom: 12px;
  color: #d3de32;
  font-weight: lighter;
  letter-spacing: 4px;
}

.header-container p {
  font-size: 18px;
  font-weight: 300;
  color: #f4f6ff;
  padding-bottom: 42px;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
}

#directions {
  margin: 0 auto;
  padding: 22px 42px 55px 42px;
  display: flex;
  justify-content: center;
}

#ingredients {
  margin: 0 auto;
  width: auto;
  height: fit-content;
  background-color: #d3de32;
  padding: 32px 32px;
  letter-spacing: 1.2px;
}

.ingredTop {
  text-align: left;
  padding-left: 22px;
background-color: #f4f6ff;
padding: 13px 22px;
border-radius: 2px;
}

.ingredTop i {
  color: #2d334a;
  padding-right: 22px;
}

.ingredTop h3 {
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 28px;
  margin: 0 auto;
  color: #2d334a;
  background-color: #f4f6ff;
}

#ingredients ul {
  padding: 22px 0;
  list-style: none;
}

#ingredients .container {
  font-family: "Roboto Condensed", sans-serif;
  color: #2d334a;
  display: block;
  position: relative;
  margin-top: 28px;
  cursor: pointer;
  font-size: 16px;
  padding-left: 38px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#ingredients .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#ingredients .checkmark {
  position: absolute;
  left: 0px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

#ingredients .container:hover input ~ .checkmark {
  background-color: #f4f6ff;
}

#ingredients .container input:checked ~ .checkmark {
  background-color: tomato;
}

#ingredients .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#ingredients .container input:checked ~ .checkmark:after {
  display: block;
}


#ingredients .container .checkmark:after {
  right: 0px;
  top: -10px;
  width: 10px;
  height: 24px;
  border: solid #f4f6ff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#instructions {
  margin: 0 auto;
  background-color: #cbeaed;
  padding: 32px 32px;
  letter-spacing: 1.2px;
  margin-left: 22px;
}

.instructTop {
  text-align: left;
  padding-left: 22px;
background-color: #f4f6ff;
padding: 13px 22px;
border-radius: 2px;
}

.instructTop i {
  padding-right: 232px;
  color: #2d334a;
}

.instructTop h3 {
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 32px;
  margin: 0 auto;
  color: #2d334a;
}

#instructions ol {
  padding: 22px 0 22px 32px;
}

#instructions .container {
  font-family: "Roboto Condensed", sans-serif;
  color: #2d334a;
  display: block;
  position: relative;
  padding-left: 2px;
  margin-top: 52px;
  margin-right: 38px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#instructions .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#instructions .checkmark {
  position: absolute;
  right: 8px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

#instructions .container:hover input ~ .checkmark {
  background-color: #f4f6ff;
}

#instructions .container input:checked ~ .checkmark {
  background-color: tomato;
}

#instructions .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#instructions .container input:checked ~ .checkmark:after {
  display: block;
}

#instructions .container .checkmark:after {
  left: 12px;
  top: -10px;
  width: 12px;
  height: 28px;
  border: solid #f4f6ff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.photos {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

img {
  margin: 0 auto;
  padding: 6px 6px;
  width: 18%;
  border-radius: 2%;
  background-color: tomato;
}

img:hover {
  transform: scale(1.15);
}

.topfive-container {
  margin: 0 auto;
  padding: 32px 0px;
  background-color: #006a71;
  color: #f4f6ff;
  margin-top: 78px;
}

#topList {
  text-align: center;
  letter-spacing: 2px;
  line-height: 32px;
}

.topfive-container h3 {
  font-size: 28px;
  font-weight: lighter;
  color: #d3de32;
  padding-bottom: 18px;
}

.topfive-container ul {
  font-size: 16px;
  font-weight: 400;
}

.topfive-container li {
  padding-bottom: 8px;
  list-style-type: none;
}

.topfive-container a {
  color: tomato;
}

.topfive-container a:hover {
  color: #d3de32;
}

#contactMe {
  background-color: tomato;
  text-align: center;
  margin: 0 auto;
  border: 1px solid tomato;
  padding: 18px 22px;
  border-radius: 1%;
  width: fit-content;
  height: fit-content;
  margin-top: 58px;
}

#contactMe h2 {
  font-size: 18px;
  margin-bottom: -2px;
  letter-spacing: 1px;
  color: #f4f6ff;
  font-weight: lighter;
}

#contactMe .joinNow {
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 4%;
  letter-spacing: 1px;
  color: #006a71;
  background-color: #f4f6ff;
  border-color: #f4f6ff;
  font-weight: bolder;
}

#contactMe .joinNow:hover {
  background-color: #d3de32;
  color: #f4f6ff;
  border-color: #d3de32;
}

footer {
  margin: 0 auto;
  color: #2d334a;
  text-align: left;
  font-size: 12px;
  margin-bottom: -19px;
  padding-left: 12px;
  padding-top: 88px;
}

.topfive-container footer a {
  color: #2d334a;
  text-decoration: none;
}

footer a:hover {
  color: #d3de32;
}

/* @media only screen and (min-width: 751px) {
  .header-container {
    background-color: #2d334a;
  }
  .topfive-container {
    background-color: #2d334a;
  }
  footer {
    color: #d3de32;
  }
  .topfive-container footer a {
    color: #d3de32;
  }
  .topfive-container footer a:hover {
    color: tomato;
  }
} */

/* @media only screen and (min-width: 401px) and (max-width: 750px) {
  #directions {
    background-color: #2d334a;
  }
}

@media only screen and (max-width: 400px) {
  .instructions {
    background-color: #2d334a;
  }
  .ingredients {
    background-color: #2d334a;
  }
  #directions li {
    color: #d3de32;
    font-size: 10px;
  }
} */
