body {
  background-color: #ffffdd;
  margin: 0 auto;
}

.header-container {
  margin: 0 auto;
  text-align: center;
  background-color: #006a71;
}

.header-container h1 {
  font-size: 52px;
  padding-top: 42px;
  padding-bottom: 12px;
  color: #d3de32;
  font-weight: lighter;
}

.header-container p {
  font-size: 20px;
  font-weight: 300;
  color: #f4f6ff;
  padding-bottom: 42px;
}

#directions {
  margin: auto 0;
  padding: 22px 42px 55px 42px;
}

#ingredients {
  margin: 0 auto;
  width: auto;
  height: fit-content;
  background-color: #d3de32;
  border-radius: 8px;
  padding: 18px 18px 2px 18px;
  margin-top: 48px;
}

#ingredients h3 {
  color: #2d334a;
  font-size: 22px;
  text-align: center;
  padding-bottom: 8px;
  font-weight: lighter;
  line-height: 34px;
}

#ingredients li {
  color: #2d334a;
  font-size: 14px;
  line-height: 30px;
  padding-bottom: 6px;
  font-weight: 400;
}

#instructions {
  margin: 0 auto;
  background-color: #cbeaed;
  padding: 28px 0px 8px 50px;
  border-radius: 8px;
  margin-top: 24px;
  letter-spacing: 2px;
  line-height: 30px;
}

#instructions h3 {
  color: #2d334a;
  text-align: center;
  font-size: 28px;
  font-weight: lighter;
  padding-bottom: 18px;
  line-height: 30px;
}

#instructions ol {
  line-height: 42px;
  font-size: 16px;
}

#instructions li {
  font-weight: 400;
  color: #2d334a;
  list-style-type: upper-roman;
}

.photos {
  text-align: center;
}

img {
  margin: 22px 60px;
  padding: 35px 35px;
  width: 22%;
  background-color: #d3de32;
}

.topfive-container {
  margin: 0 auto;
  padding: 32px 0px;
  text-align: center;
  background-color: #006a71;
  color: #f4f6ff;
}

.topfive-container h3 {
  font-size: 28px;
  font-weight: lighter;
  color: #d3de32;
  letter-spacing: 2px;
  line-height: 32px;
}

.topfive-container ul {
  line-height: 32px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.topfive-container a {
  color: #cbeaed;
}

.topfive-container a:hover {
  color: #d3de32;
}

.topfive-container span {
  font-family: italic;
  text-decoration: underline;
  color: tomato;
}

footer {
  padding-left: 22px;
  font-size: 14px;
}

/* I like to use https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Properties_Reference.*/
