body {
  background-color: #ffffdd;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

.header-container {
  margin: 0 auto;
  text-align: center;
  background-color: #006a71;
}

.header-container h1 {
  font-size: 58px;
  padding-top: 42px;
  padding-bottom: 12px;
  color: #d3de32;
  font-weight: lighter;
  letter-spacing: 4px;
}

.header-container p {
  font-size: 18px;
  font-weight: 300;
  color: #f4f6ff;
  padding-bottom: 42px;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
}

#directions {
  margin: auto 0;
  display: flex;
  padding: 22px 42px 55px 42px;
}

.ingredients {
  margin: 0 auto;
  width: auto;
  height: fit-content;
  background-color: #d3de32;
  border-radius: 8px;
  padding: 18px 18px 2px 18px;
  margin-top: 48px;
  max-width: 33%;
}

.fa-shopping-basket {
  margin-left: -22px;
  margin-right: 18px;
}

.ingredients h3 {
  margin: 0 auto;
  color: #2d334a;
  font-size: 22px;
  text-align: center;
  line-height: 34px;
  background-color: #f4f6ff;
  border-radius: 8px;
  margin-bottom: 28px;
  padding: 8px 8px;
  letter-spacing: 1.6px;
}

.ingredients ul {
  margin-bottom: -8px;
}

.ingredients li {
  color: #2d334a;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto Condensed", sans-serif;
}

.ingredients button {
  color: #f4f6ff;
  background-color: #f4f6ff;
  width: 18px;
  height: 18px;
  margin-left: -28px;
  margin-right: 120px;
  border: none;
}

.instructions {
  margin: 0 auto;
  background-color: #cbeaed;
  padding: 28px 50px 8px 25px;
  border-radius: 8px;
  margin-top: 24px;
  letter-spacing: 2px;
  line-height: 30px;
  max-width: 50%;
}

.instructions h3 {
  margin: 0 auto;
  color: #2d334a;
  font-size: 22px;
  text-align: center;
  font-weight: lighter;
  line-height: 34px;
  background-color: #f4f6ff;
  border-radius: 8px;
  padding: 8px 18px;
}

.instructions ol {
  line-height: 42px;
  font-size: 16px;
  margin-bottom: 28px;
}

.instructions li {
  font-weight: 400;
  color: #2d334a;
  list-style-type: upper-roman;
  font-family: "Roboto Condensed", sans-serif;
}

.photos {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

img {
  margin: 0 auto;
  padding: 12px 12px;
  width: 18%;
  border-radius: 44%;
  background-color: tomato;
}

img:hover {
  transform: scale(1.25);
}

.topfive-container {
  margin: 0 auto;
  padding: 32px 0px;
  text-align: center;
  background-color: #006a71;
  color: #f4f6ff;
  margin-top: 78px;
}

.topfive-container h3 {
  font-size: 28px;
  font-weight: lighter;
  color: #d3de32;
  letter-spacing: 2px;
  line-height: 32px;
  padding-bottom: 18px;
}

.topfive-container ul {
  line-height: 32px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.topfive-container li {
  padding-bottom: 8px;
  list-style-type: none;
}

.topfive-container a {
  color: tomato;
}

.topfive-container a:hover {
  color: #d3de32;
}

footer {
  margin: 0 auto;
  color: #2d334a;
  text-align: left;
  font-size: 12px;
  margin-bottom: -19px;
  padding-left: 12px;
}

.topfive-container footer a {
  color: #2d334a;
  text-decoration: none;
}

footer a:hover {
  color: #d3de32;
}

@media only screen and (min-width: 751px) {
  .header-container {
    background-color: #2d334a;
  }
  .topfive-container {
    background-color: #2d334a;
  }
  footer {
    color: #d3de32;
  }
  .topfive-container footer a {
    color: #d3de32;
  }
  .topfive-container footer a:hover {
    color: tomato;
  }
}

@media only screen and (min-width: 401px) and (max-width: 750px) {
  #directions {
    background-color: #2d334a;
  }
}

@media only screen and (max-width: 400px) {
  .instructions {
    background-color: #2d334a;
  }
  .ingredients {
    background-color: #2d334a;
  }
  #directions li {
    color: #d3de32;
    font-size: 10px;
  }
}
