body {
  background-color: #ffffdd;
  margin: 0 auto;
}

.header-container {
  margin: 0 auto;
  text-align: center;
  background-color: #006a71;
}

.header-container h1 {
  font-size: 58px;
  padding-top: 42px;
  padding-bottom: 12px;
  color: #d3de32;
  font-weight: lighter;
  letter-spacing: 4px;
}

.header-container p {
  font-size: 18px;
  font-weight: 300;
  color: #f4f6ff;
  padding-bottom: 42px;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
}

#directions {
  margin: auto 0;
  padding: 22px 42px 55px 42px;
}

#ingredients {
  margin: 0 auto;
  width: auto;
  height: fit-content;
  background-color: #d3de32;
  border-radius: 8px;
  padding: 18px 18px 2px 18px;
  margin-top: 48px;
}

#ingredients h3 {
  color: #2d334a;
  font-size: 22px;
  text-align: center;
  padding-bottom: 8px;
  font-weight: lighter;
  line-height: 34px;
  background-color: #f4f6ff;
  border-radius: 8px;
  margin-bottom: 28px;
}

#ingredients li {
  color: #2d334a;
  font-size: 14px;
  line-height: 30px;
  padding-bottom: 6px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}

#ingredients .fa-square {
  color: #f4f6ff;
  background-color: #f4f6ff;
}

#instructions {
  margin: 0 auto;
  background-color: #cbeaed;
  padding: 28px 0px 8px 50px;
  border-radius: 8px;
  margin-top: 24px;
  letter-spacing: 2px;
  line-height: 30px;
}

#instructions h3 {
  margin: 0 auto;
  color: #2d334a;
  font-size: 22px;
  text-align: center;
  padding-bottom: 8px;
  font-weight: lighter;
  line-height: 34px;
  background-color: #f4f6ff;
  border-radius: 8px;
  width: 375px;
  margin-bottom: 38px;
}

#instructions ol {
  line-height: 42px;
  font-size: 16px;
  margin-bottom: 28px;
}

#instructions li {
  font-weight: 400;
  color: #2d334a;
  list-style-type: upper-roman;
  font-family: "Roboto Condensed", sans-serif;
}

.photos {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

img {
  margin: 0 auto;
  padding: 42px 42px;
  width: 20%;
  border-radius: 44%;
  background-color: tomato;
}

.topfive-container {
  margin: 0 auto;
  padding: 32px 0px;
  text-align: center;
  background-color: #006a71;
  color: #f4f6ff;
  margin-top: 78px;
}

.topfive-container h3 {
  font-size: 28px;
  font-weight: lighter;
  color: #d3de32;
  letter-spacing: 2px;
  line-height: 32px;
  padding-bottom: 18px;
}

.topfive-container ul {
  line-height: 32px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.topfive-container li {
  padding-bottom: 8px;
}

.topfive-container a {
  color: tomato;
}

.topfive-container a:hover {
  color: #d3de32;
}
